.test1 {
  color: rgb(var(--theme-color-rgb));
  background-color: rgba(var(--theme-color-rgb), 0.1);
  background: rgba(var(--theme-color-rgb), var(--theme-alpha));
  border: 12px solid rgba(var(--theme-color-rgb), 0.3);
  box-shadow: 0 0 50px 0 rgba(var(--theme-color-rgb), 0.05);
}

.test2 {
  box-shadow: 0 14px 16px -8px rgba(var(--theme-color-rgb), 0.2),
    0 24px 34px 4px rgba(var(--theme-color-rgb), 0.14),
    0 10px 44px 8px rgba(var(--theme-color-rgb), 0.12);
}

.test3 {
  width: 100%;
  height: 400px;
  background-image: url(https://mdn.mozillademos.org/files/11305/firefox.png),
    url(https://mdn.mozillademos.org/files/11307/bubbles.png),
    linear-gradient(to right, rgba(var(--theme-color-rgb), 1), rgba(var(--white-color-rgb), 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}
