.test3 {
  color: rgb(var(--theme-color));
  background-color: rgba(var(--bg-color), 0.1);
  border: 12px solid rgba(var(--bd-color), 0.3);
  border-top: 12px solid rgba(var(--bd-color), 0.3);
  box-shadow: 0 0 50px 0 rgba(var(--shadow-color), 0.05);
}
